<!DOCTYPE html>
<html>
<body>

<br>
<a href="{% url 'pizza' %}">pizza</a>
<br>
<a href="{% url 'canelons' %}">canelons</a>
<br>
<a href="{% url 'gazpacho' %}">gazpacho</a>
<br>
<a href="{% url 'calabacin' %}">calabacin</a>
<br>
<a href="{% url 'ensaladilla' %}">ensaladilla</a>
<br>
<a href="{% url 'carbonara' %}">carbonara</a>
<br>
<a href="{% url 'sopa' %}">sopa</a>
<br>
<a href="{% url 'mafe' %}">mafe</a>
<br>
<a href="{% url 'feijoada' %}">feiojada</a>
<br>
<a href="{% url 'menuinfantil' %}">menuinfantil</a>

</body>
</html>
